---
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
IndentWidth: 4
InsertNewlineAtEOF: true
IndentPPDirectives: BeforeHash
PointerAlignment: Left
UseTab: Never
---
